.chat-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    .chat-box{
        height: 73vh;
        margin: 20px 0;
        margin-bottom: 20px;
        text-align: inherit;
        border-radius: 4px;
        overflow-y: scroll;
        .chat-item{
            margin: 10px 0;
            .chat-question{
                display: flex;
                flex-direction: row;
                align-items: center;
                .question-text-box{
                    background-color: #f7f7f7;
                    margin-left: 10px;
                    width: 73%;
                    padding: 10px;
                    border-radius: 20px 20px 20px 0px;
                }
            }
            .chat-answer{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: end;
                .answer-text-box{
                    background-color: #f9e7cb;
                    margin-right: 10px;
                    width: 73%;
                    padding: 10px;
                    border-radius: 20px 20px 0px 20px;
                }
            }
        }
    }
}