.faq-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    .faq-box{
        padding: 10px 5px;
        .faq-item{
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            .faq-question{
                font-weight: bold;
                font-size: 1.2rem;
                margin-bottom: 5px;
            }
            .faq-answer{
                font-size: 1rem;
            }
        }
    }
    .ask-new-question-placeholder-container{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 4px;
        align-items: flex-start;
        justify-content: space-between;
        .input-text{
            width: 100%;
            padding: 20px;
            input:focus{
                outline: none;
            }
        }
        .mic{
            padding: 20px;
        }
    }
}
